:root {
    --dark-blue: #000D28;
    --icon: #1951CB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--dark-blue);
    width: 100vw;
    height: 100vh;
}

.register {
    display: flex;
    width: 100%;
    height: 100%;
}

.left-side {
    flex: 1;
    background-color: var(--dark-blue);
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.logo-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.logo-area img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 40px;
}

.left-side h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
    letter-spacing: 2px;
}

.left-side .subtitle {
    font-size: 18px;
    color: #ffffff;
    line-height: 1.6;
    max-width: 450px;
    text-align: center;
}


.right-side {
    flex: 1;
    background-color: #ffffff;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}


.form-login {
    width: 100%;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-group label {
    font-size: 22px;
    font-weight: 700;
    color: #333333;
}


.input-group input {
    background-color: #e4e4e4;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 16px;
    outline: none;
    width: 100%;
}


.btn-register {
    display: block;
    background-color: var(--dark-blue);
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    border-radius: 13px;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-top: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background 0.2s;
}

.btn-login:hover {
    background-color: #243354;
}