:root {
    --primary: #5B3DF5;
    --primary-dark: #4A2EE0;
    --background: #F8F9FC;
    --white: #FFFFFF;
    --text: #2D3748;
    --text-light: #718096;
    --border: #E2E8F0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: var(--background);
}

main {
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */

.sidebar {
    width: 280px;
    background: var(--white);
    border-right: 1px solid var(--border);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 24px 16px;

    position: sticky;
    top: 0;
    height: 100vh;
}

/* LOGO */

.sidebar-header {
    margin-bottom: 40px;
}

.logo {
    background: linear-gradient(135deg, #000D28 0%, #0a1b42 100%);
    border-radius: 12px;

    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    color: white;
    font-weight: 600;
}

.logo img {
    width: 40%;
    height: 45%;
}

.logo span {
    font-size: 1rem;
}

/* MENU */

.menu {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 8px;

    flex: 1;
}

.menu a {
    text-decoration: none;
    color: var(--text-light);

    display: flex;
    align-items: center;
    gap: 14px;

    padding: 14px 18px;
    border-radius: 10px;

    transition: .3s;
}

.menu a:hover {
    background: #F3F0FF;
    color: var(--primary);
}

.menu a.active {
    background: var(--primary);
    color: white;
}

.menu a i {
    font-size: 1rem;
    width: 20px;
}

/* FOOTER */

.sidebar-footer {
    margin-top: 30px;
}

.user-card {
    background: #0B1B45;

    color: white;

    padding: 12px;
    border-radius: 12px;

    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar {
    width: 40px;
    height: 40px;

    border-radius: 50%;

    background: var(--primary);

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-info strong {
    font-size: .9rem;
}

.user-info span {
    font-size: .75rem;
    opacity: .8;
}